button{
    
    padding: 10px;
    margin: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 5px;
    width: 200px;
    box-shadow: 10px 10px 5px -4px rgb(250, 251, 251);


}
.counterbtn button{
    width: 25%;
}
.container{
    background-color: rgb(226, 223, 223);
    width: 18rem;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
   border-radius: 1rem;
   box-shadow: 10px 10px 5px -4px rgba(17,128,247,1);
}
input{
    padding: 10px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;

}